#!/bin/bash
# usage: ./random.sample in.wav out.wav <dirA> <dirB>
set -x
wavout="$1"
test -z $SEARCH && SEARCH=".*"
shift;
index=".index/$(echo "$1-$2-$3-$4-$5.index" | sed 's|[/ ]|-|g')"  

create_index(){
  test -d .index || mkdir .index
  test -f $index && test -z $INDEX && return 0  # set env-var INDEX=1 to enforce indexing
  echo '[.] creating index to speed up future sessions...(might take a while)'
  find -L "$@" -type f -size -4M | grep -E '(wav|iff)$' | grep -E "$SEARCH" > $index
}

create_index "$@"
random="$(shuf -n1 $index)" 
cp "$random" "$wavout"
